@import '';

/* _content/WebApplication/Pages/Comp/RegisterEmployer.razor.rz.scp.css */
.element[b-r8wyf8l1tx] {
    background-color: #FAFAFA;
}
/* _content/WebApplication/Pages/Comp/RegisterJobSeeker.razor.rz.scp.css */
.element[b-hmjnaprctd] {
    background-color: #FAFAFA;
}
/* _content/WebApplication/Pages/CreateJobListing.razor.rz.scp.css */
body[b-ppjh64qbg9]{
    width: 100%;
}

form[b-ppjh64qbg9]{
    width: 100%;
    padding: 2rem 10rem;
}

.form-group[b-ppjh64qbg9]{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffffff;
}

.details[b-ppjh64qbg9]{
    background: #fafafa;
    border-radius: .5rem;
    padding: 2rem;
}

.title[b-ppjh64qbg9]{
    font-size: 25px;
    font-weight:500;
    position: relative;
}

.form-row[b-ppjh64qbg9]{
    display: flex;
    gap: 0 1rem;
    align-items: center;
    margin: 1rem 0;
}

.form-row:nth-of-type(1) > .input-box:nth-of-type(1)[b-ppjh64qbg9] {
    flex: 3;
}

.form-row:nth-of-type(1) > .input-box:nth-of-type(2)[b-ppjh64qbg9] {
        flex: 1;
    }

    .form-row:nth-of-type(2) > .input-box:nth-of-type(1)[b-ppjh64qbg9] {
        flex: 2;
    }

    .form-row:nth-of-type(2) > .input-box:nth-of-type(2)[b-ppjh64qbg9] {
        flex: 2;
    }

    .form-row:nth-of-type(2) > .input-box:nth-of-type(3)[b-ppjh64qbg9] {
        flex: 1;
    }

    .form-row:nth-of-type(2) > .input-box:nth-of-type(3) > input[type="date"][b-ppjh64qbg9] {
        width: 100%;
    }

    .form-row:nth-of-type(3) > .input-box:nth-of-type(1)[b-ppjh64qbg9] {
        flex: 1;
    }

    .form-row:nth-of-type(3) > .input-box:nth-of-type(2)[b-ppjh64qbg9] {
        flex: 1;
    }

.btn[b-ppjh64qbg9]{
    padding: .5rem 2.5rem;
    border-radius: .6rem;
    background: #3f6cdf;
    color: #fafafa;
    transition: background .2s ease-out;
    border: none;
    margin-top: 2rem;
}

.btn:hover[b-ppjh64qbg9]{
    background: #2251c9;
    transition: background .2s ease-in;
}
.calendar>label[b-ppjh64qbg9]{
    display: block;
}

.job-req-header[b-ppjh64qbg9],
.job-prv-header[b-ppjh64qbg9] {
    display: flex;
    align-items: center;
    margin: 1rem 0;
    gap: 0 1rem;
}

    .job-req-header > .job-req-btn[b-ppjh64qbg9],
    .job-prv-header > .job-prv-btn[b-ppjh64qbg9] {
        width: 26px;
        color: #fafafa;
        background: #3f6cdf;
        border-radius: 50%;
    }

    .job-req-btn:focus[b-ppjh64qbg9],
    .job-prv-btn:focus[b-ppjh64qbg9] {
        outline: none;
        border: none;
        box-shadow: none;
    }

.job-req-container[b-ppjh64qbg9],
.job-prv-container[b-ppjh64qbg9] {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
/* _content/WebApplication/Pages/Login.razor.rz.scp.css */
.element[b-t8mfqvmzkk] {
    background-color: #FAFAFA;
}.loginForm[b-t8mfqvmzkk]{
     width: 330px;
     font-size: 14px;
     text-align: center;

 }
button.loginForm[b-t8mfqvmzkk]{
    font-size:13px;
}
.link[b-t8mfqvmzkk]{
    color: #0969da;

}
.failedLogin[b-t8mfqvmzkk]{
    background: #ffebe9;
    font-size:13px;
    border: 1px solid #ffa59d;
}
/* _content/WebApplication/Pages/Register.razor.rz.scp.css */
.element[b-l3zt2z2orl] {
    background-color: #FAFAFA;
}

.blueButton:hover[b-l3zt2z2orl] {
    color: black;
}
