@using WebApplication.Auth
@inherits LayoutComponentBase
@inject NavigationManager NavManager
@inject AuthenticationStateProvider AuthenticationStateProvider

<div class="page">

    <div class="page-content">
        <div id="topbar">
            <NavMenu />
            <AuthorizeView>
                <NotAuthorized>
                    <div>
                        <button @onclick="@(() => NavManager.NavigateTo("/login"))" class="topbar-btn"> Log In</button>
                    </div>
                </NotAuthorized>
                <Authorized>
                    <div>
                        <a class="topbar-btn" @onclick="Logout" href="#">Logout</a>
                    </div>
                </Authorized>
            </AuthorizeView>
        </div>

        <div class="hw-main-page-container">
            @Body
        </div>
    </div>
</div>

@code
{

    protected override async Task OnInitializedAsync()
    {
    }

    private void Logout()
    {
        ((CustomAuthenticationStateProvider) AuthenticationStateProvider).Logout();
    }

}