    <ul class="nav-menu">
        <li class="nav-item">
            <NavLink class="nav-link" id="home" href="/" Match="NavLinkMatch.All">
                👋 Hello Work
            </NavLink>
        </li>
        <AuthorizeView Policy="Employer">
            <li class="nav-item">
                <NavLink class="nav-link" href="joblisting/create">
                    Create job listing
                </NavLink>
            </li>
        </AuthorizeView>
        <li class="nav-item">
            <NavLink class="nav-link" href="job-listings">
                View job listings
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="applications">
                View applications
            </NavLink>
        </li>
    </ul>

@code {

}