@page "/apply/{Id:int}"
@using WebApplication.Data
@using WebApplication.Models
@using WebApplication.Data.Applications
@using WebApplication.Auth

@inject IJobListingData JobListingData
@inject IApplicationData ApplicationData
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider AuthenticationStateProvider


<div class="w-full">
    <div style="background-color: #fafafa" class="rounded-lg flex flex-col justify-center p-3">
        @if (jobListing != null)
        {
            <div class="rounded-lg font-bold text-xl">Applying for position: @jobListing</div>
        }

        @if (jobListing == null)
        {
            <p>Job listing not found!</p>
        }
        else
        {
            <EditForm Model="application" OnValidSubmit="@Save">
                <DataAnnotationsValidator/>
                <ValidationSummary/>
                <div class="form-group">
                    <p class="font-bold mt-4">Application details:</p>
                    <InputTextArea class="w-1/3" placeholder="Your text for application" @bind-Value="application.Details"/>
                    <InputTextArea class="hidden" placeholder="Your text for application" @bind-Value="application.employerEmail"/>
                    <InputTextArea class="hidden" placeholder="Your text for application" @bind-Value="application.employeEmail"/>
                    <InputNumber class="hidden" placeholder="Your text for application" @bind-Value="application.Status"/>
                </div>
                <button class="rounded-lg btn" style="background-color: #3f6cdf" type="submit" value="Save">Apply</button>
                <button class="rounded-lg btn bg-red-600" @onclick="Back">Back</button>
                <InputFile accept="application/pdf" OnChange="SelectedFile"></InputFile>

            </EditForm>
        }

    </div>
</div>

@code {

    [Parameter]
    public int Id { get; set; }

    private Application application = new();
    private JobListing jobListing;
    private Byte[] buffers;

    protected override async Task OnInitializedAsync()
    {
        jobListing = await JobListingData.GetJobListing(Id);
        User user = ((CustomAuthenticationStateProvider) AuthenticationStateProvider).cachedUser;
        application.Name = jobListing.JobTitle;
        application.employeEmail = user.Email;
        application.employerEmail = jobListing.Email;
        application.JobId = jobListing.JobId;
        Random random = new Random();
        application.Id = random.Next();
        application.Status = 0;
        application.Files = new();
    }

    private void Back()
    {
        NavigationManager.NavigateTo("/job-listings");
    }

    private void Save()
    {
        application.SetFile("test", buffers);
        ApplicationData.AddApplication(application);
        NavigationManager.NavigateTo("/job-listings");
    }

    private async void SelectedFile(InputFileChangeEventArgs obj)
    {
        IBrowserFile imgFile = obj.File;
        buffers = new byte[imgFile.Size];
        await imgFile.OpenReadStream(10000000).ReadAsync(buffers);
    }

}