@page "/Apply/{Id:int}"
@using WebApplication.Data
@using WebApplication.Models

@inject IJobListingData JobListingData
@inject NavigationManager NavigationManager

<h3>Apply To Job Listing with ID: </h3>

@code {
   
}