body{
    width: 100%;
}

form{
    width: 100%;
    padding: 2rem 10rem;
}

.form-group{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffffff;
}

.details{
    background: #fafafa;
    border-radius: .5rem;
    padding: 2rem;
}

.title{
    font-size: 25px;
    font-weight:500;
    position: relative;
}

.form-row{
    display: flex;
    gap: 0 1rem;
    align-items: center;
}

.btn{
    padding: .5rem 2.5rem;
    border-radius: .6rem;
    background: #3f6cdf;
    color: #fafafa;
    transition: background .2s ease-out;
    border: none;
}

.btn:hover{
    background: #2251c9;
    transition: background .2s ease-in;
}
.calendar>label{
    display: block;
}
